<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Patients</h4>
                        <button class="btn btn-sm btn-warning position-absolute" style="right: 15px;top: 9px;" (click)="create()">
                            Create
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Notes</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let patient of patients">
                                    <td>{{patient.id}}</td>
                                    <td>{{patient.first_name}} {{patient.last_name}}</td>
                                    <td>{{patient.age}}</td>
                                    <td>{{patient.notes}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-info" (click)="edit(patient)">Edit</button>
                                        <button class="btn btn-sm btn-danger" (click)="delete(patient)">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editPatientDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    <span *ngIf="!editPatient">Create</span>
                    <span *ngIf="editPatient">Edit</span>
                    Patient
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" [(ngModel)]="firstName">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" [(ngModel)]="lastName">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Age" [(ngModel)]="age">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Notes" [(ngModel)]="notes"></textarea>
                </mat-form-field>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
            </div>
        </div>
    </div>
</div>
